html {
    height:100%;
}
body {
    min-height:100%;
    background: url("./img/quiz-sign-wooden-table-made-wood.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.outer{
    padding: 4vw 4vw;
}
.homeTitle {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
    letter-spacing: 0;
    word-spacing: 0.4px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;

}

.homeButtons {

}
.homeButtons .btn {
    margin: 0 auto;
    max-width: 30rem;

}
.homeButtons .btn-block {
    width: 20rem;
}

.homeButtons .btn-block+.btn-block {
    margin-top: 1rem;
}

.btn-block {
    width: 50%;
}
